<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Applause">
        <activity
            android:name=".StatsGraph"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClapsSummary"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClapListener"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClapInstruction"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreClapMenu"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ranking"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Statistics"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>